body {
    font-family: 'Crimson Text', serif;
    background-image: url(images/spiration-light.png);
    margin: 0;
    color: #444;
}

h1, h2, h3 {
    font-family: 'Mina', sans-serif;
    margin: 0; padding: 0;
}

h1 {
    font-size: 3em;
    padding-top: 50px;
}

h2 {
    padding-bottom: 50px;
}

input {
    margin: 50px 0 10px;
    padding: 5px;
    width: 200px;
    height: 30px;
    font-size: 0.8em;
    border-radius: 10px;
}

ul {
    list-style: none;
    font-size: 1.2em;
    padding-left: 0;
    width: 20%;
    margin: 0 auto;
}

li {
    padding: 5px;
    border-bottom: 1px solid #444;
    text-transform: capitalize;
}

li:first-child {
    margin-top: 20px;
}

li:last-child {
    margin-bottom: 30px;
}

button:focus {
    outline: 0;
}

#container {
    width: 75%;
    height: 1250px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
}

#instructions {
    width: 60%;
    margin: 0 auto;
    font-size: 1.1em;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 30px;
}

#buttons {
    margin: 15px 0 50px;
    
}

#resetButton, #generateButton {
    text-transform: uppercase;
    width: 100px; height: 30px;
    background-color: #eee;
    color: #666;
    font-size: 0.7em;
    letter-spacing: 2px; 
}

#resetButton:hover, #generateButton:hover {
    color: #444;
    background-color: white;
}
#roleplay {
    width: 70%;
    margin: 0 auto;
    padding: 30px;
    color: #c97683;
    font-size: 1.4em;
}

@media (max-width: 700px) {
    h1 {
        font-size: 2.5em;
    }
}

@media (max-width: 575px) {
    #container, #instructions, #header {
        width: 100%;
    }
    
    #instructions {
        border-radius: 0; 
        padding-left: 0;
        border-top: 2px solid;
        border-bottom: 2px solid; 
    }
    
    #instructions p {
        padding: 10px 50px;
        font-size: 1.1em;
    }
    
    h1 {
        font-size: 2.2em;
    }
    
    h2 {
        font-size: 1.3em;
    }
}
